.hero {
    padding-top: 128px;
    padding-bottom: 158px;
    background-image: url("../images/icons/family.svg"), url("../images/hero-bg.png");
    background-size: 675px 590px, cover;
    background-repeat: no-repeat;
    background-position: calc(50% + 300px) calc(50%), calc(50%) calc(50%) ;
}

.hero-list {
    max-width: 527px;
    margin-left: 71px !important;
}

.hero-str {
    font-weight: 700;
    line-height: 155.2%;
    color: #E87D0E;
}

.site-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 155.2%;
    color: #000000;
    margin: 0;
    margin-bottom: 26px;
}

.hero-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
    margin: 0;
    margin-bottom: 50px;
}

.hero-link {
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    background: linear-gradient(92.48deg, #FA8305 2.08%, #FB9E3C 117.25%);
    border-radius: 40px;
    padding: 14px 30px;
}

@media (max-width: 1200px) {
    .hero {
        background-size: 550px 500px, cover;
    }
}

@media (max-width: 1100px) {
    .hero {
        background-size: 0 0, cover;
    }
}

@media (max-width: 992px) {
    .hero-list {
        margin: 0 auto !important;
    }
}

@media (max-width: 500px) {
    .hero {
        padding-top: 135px;
        padding-bottom: 108px;
        background-image: url("../images/icons/family.svg"), url("../images/icons/hero-bg-mobile.svg");
        background-size: 0 0, contain;
        background-position: calc(50% + 300px) calc(50%), calc(50%) calc(100%);
    }
    
    .site-title {
        font-size: 34px;
        margin-bottom: 28px;
    }
    
    .hero-text {
        font-size: 14px;
        margin-bottom: 35px;
    }
    
    .hero-link {
        font-size: 15px !important;
        padding: 12px 20px;
    }
}

@media (max-width: 500px) {
    .hero-list {
        width: 276px;
    }
}